openapi: 3.0.3
info:
  title: Kraken Futures REST Account History API
  version: 3.0.0
  description: OpenAPI description of the Kraken Futures (formerly Crypto Facilities) REST API v3. Covers trading (send/edit/cancel orders, batch), market data (instruments, tickers, orderbook, history), account data (accounts, open positions, open orders, fills), transfers, account history, and charts. Generated by the API Evangelist pipeline from docs.kraken.com/api/docs/futures-api/.
  contact:
    name: Kraken API Support
    url: https://support.kraken.com/
  license:
    name: Kraken Terms of Service
    url: https://www.kraken.com/legal
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://futures.kraken.com/derivatives/api/v3
  description: Kraken Futures production REST endpoint
- url: https://demo-futures.kraken.com/derivatives/api/v3
  description: Kraken Futures demo / sandbox endpoint
- url: https://colo-london.vip.futures.kraken.com/derivatives/api/v3
  description: Kraken Futures colocation endpoint (London VIP)
tags:
- name: History
  description: Account, execution, order, trigger, and market history
paths:
  /historicalorders:
    get:
      operationId: getHistoricalOrders
      summary: Kraken Get Historical Orders
      description: Returns recent historical orders.
      tags:
      - History
      security:
      - futures_signature: []
      responses:
        '200':
          description: Historical orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
              examples:
                getHistoricalOrders200Example:
                  summary: Default getHistoricalOrders 200 response
                  x-microcks-default: true
                  value:
                    result: success
                    serverTime: '2026-05-30T00:00:00Z'
                    error: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /historicalexecutions:
    get:
      operationId: getHistoricalExecutions
      summary: Kraken Get Historical Executions
      description: Returns recent execution events.
      tags:
      - History
      security:
      - futures_signature: []
      responses:
        '200':
          description: Historical executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
              examples:
                getHistoricalExecutions200Example:
                  summary: Default getHistoricalExecutions 200 response
                  x-microcks-default: true
                  value:
                    result: success
                    serverTime: '2026-05-30T00:00:00Z'
                    error: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /historicaltriggers:
    get:
      operationId: getHistoricalTriggers
      summary: Kraken Get Historical Triggers
      description: Returns recent trigger events.
      tags:
      - History
      security:
      - futures_signature: []
      responses:
        '200':
          description: Historical triggers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
              examples:
                getHistoricalTriggers200Example:
                  summary: Default getHistoricalTriggers 200 response
                  x-microcks-default: true
                  value:
                    result: success
                    serverTime: '2026-05-30T00:00:00Z'
                    error: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /accountlog:
    get:
      operationId: getAccountLog
      summary: Kraken Get Account Log
      description: Returns the account log (settlements, funding, transfers).
      tags:
      - History
      security:
      - futures_signature: []
      responses:
        '200':
          description: Account log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
              examples:
                getAccountLog200Example:
                  summary: Default getAccountLog 200 response
                  x-microcks-default: true
                  value:
                    result: success
                    serverTime: '2026-05-30T00:00:00Z'
                    error: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BaseEnvelope:
      type: object
      properties:
        result:
          type: string
          enum:
          - success
          - error
          example: success
        serverTime:
          type: string
          format: date-time
          example: '2026-05-30T00:00:00Z'
        error:
          type: string
          example: string
  securitySchemes:
    futures_signature:
      type: apiKey
      in: header
      name: APIKey
      description: 'Kraken Futures signs requests with two headers: `APIKey` (public key) and `Authent` (base64 HMAC-SHA512 over `postData + nonce + endpointPath` using the SHA-256 hash of those values, then HMAC-SHA512 keyed by the base64-decoded secret). A `Nonce` header carries the incrementing nonce.'
