openapi: 3.0.3
info:
  title: Kraken Futures REST Account Charts API
  version: 3.0.0
  description: OpenAPI description of the Kraken Futures (formerly Crypto Facilities) REST API v3. Covers trading (send/edit/cancel orders, batch), market data (instruments, tickers, orderbook, history), account data (accounts, open positions, open orders, fills), transfers, account history, and charts. Generated by the API Evangelist pipeline from docs.kraken.com/api/docs/futures-api/.
  contact:
    name: Kraken API Support
    url: https://support.kraken.com/
  license:
    name: Kraken Terms of Service
    url: https://www.kraken.com/legal
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://futures.kraken.com/derivatives/api/v3
  description: Kraken Futures production REST endpoint
- url: https://demo-futures.kraken.com/derivatives/api/v3
  description: Kraken Futures demo / sandbox endpoint
- url: https://colo-london.vip.futures.kraken.com/derivatives/api/v3
  description: Kraken Futures colocation endpoint (London VIP)
tags:
- name: Charts
  description: OHLC candle data and analytics
paths:
  /charts/{tickSize}/{symbol}/{interval}:
    get:
      operationId: getChartCandles
      summary: Kraken Get Chart Candles
      description: Returns OHLC candles for a futures instrument at a given interval.
      tags:
      - Charts
      parameters:
      - name: tickSize
        in: path
        required: true
        schema:
          type: string
          enum:
          - trade
          - mark
          - spot
        example: trade
      - name: symbol
        in: path
        required: true
        schema:
          type: string
        example: PI_XBTUSD
      - name: interval
        in: path
        required: true
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 15m
          - 30m
          - 1h
          - 4h
          - 12h
          - 1d
          - 1w
        example: 1m
      - name: from
        in: query
        required: false
        schema:
          type: integer
        example: 1
      - name: to
        in: query
        required: false
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: Candles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
              examples:
                getChartCandles200Example:
                  summary: Default getChartCandles 200 response
                  x-microcks-default: true
                  value:
                    result: success
                    serverTime: '2026-05-30T00:00:00Z'
                    error: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BaseEnvelope:
      type: object
      properties:
        result:
          type: string
          enum:
          - success
          - error
          example: success
        serverTime:
          type: string
          format: date-time
          example: '2026-05-30T00:00:00Z'
        error:
          type: string
          example: string
  securitySchemes:
    futures_signature:
      type: apiKey
      in: header
      name: APIKey
      description: 'Kraken Futures signs requests with two headers: `APIKey` (public key) and `Authent` (base64 HMAC-SHA512 over `postData + nonce + endpointPath` using the SHA-256 hash of those values, then HMAC-SHA512 keyed by the base64-decoded secret). A `Nonce` header carries the incrementing nonce.'
